# ==============================
# Order Service
# ==============================

PORT=

# ==============================
# MongoDB
# ==============================

MONGO_URI=

# ==============================
# RabbitMQ
# ==============================

RABBITMQ_URL=
QUEUE_NAME=

# ==============================
# Other Services
# ==============================

MENU_SERVICE=
WALLET_SERVICE=

# ==============================
# JWT
# ==============================

JWT_SECRET=